
html, body {height: 100%;}
#wrap {min-height: 100%;}


header
{   
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

footer{
  
  
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
  
  

  
  
  text-align: center;
  width: 100%;
}

.header_table{
    
    width: 100%;
    background-color:grey; 
    border-collapse: collapse;
  }

  .header_table td, .users_table td, .movies_table td{
    
    text-align: center;
    width: 100px;
    
  }
  .menu_part{
    border-right-color: black;
  }

  .site_title{
      font-size:    20px;
  }

  a:active {
      color:darkred;
      text-decoration: none;
  }

  

.description,.users_body, .user_body, .movies_body, .movie_body, .about_body, .new_body, .playlist_body{
  position: relative;
  top: 30px;
  overflow:auto;
	padding-bottom: 50px;
}

.home_title, .users_title,.user_title, .movies_title, .movie_title, .about_title, .new_title, .playlist_title{
  text-align:  center;
}

.home_image,.user_ava, .movie_poster{
  border: 5px solid #21568b;
  
 
}

.users_table, .movies_table{
  width: 70%;
  
  border-collapse: collapse;
  margin-left:15%; 
  margin-right:15%;
  padding-bottom: 10px;
  
}

.users_table td, th, .movies_table td, th{
  text-align: left;
}

td div, th
{
    height: 30px;
    max-height: 30px;
    max-width: 200px;
    overflow: auto;

   
}

.user_ava, .movie_poster{
  float: left;
  margin-right: 3%;
}

.bio{
  border: 3px solid lightgrey;
  margin-left: 19%;
  margin-bottom: 2%;
  padding-top: 0%;
  padding-left: 0%;
  
}

.movie_info, .playlist_info{
  list-style: none;
  height: auto;
  width: 20%;
  overflow-x: auto;
  white-space: nowrap;
  
}

.search,.pagination{
  display: block;
  text-align: center;
}

.pagination input{
  width: 50px;
}

.user_playlists, .last_added{
  
  
  height: auto;
  width: 20%;
  overflow-x: auto;
  white-space: nowrap;
}

.choose_movies{
  height: 20%;
  overflow-y: auto;
}

#err_message{
  color: red;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color:#fff transparent black; 
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.button {
  
  border: none;
  color:white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#cancel_btn{
  padding: 15px 20px;
  background-color: grey;
  float: left;
  margin-right: 50px;
  
}

#yes_btn{
  padding: 15px 50px;
  background-color:blue;
  
  
}



