html, body {height: 100%;}
#wrap {min-height: 100%;}


header
{   
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

footer{
  
  
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
  
  

  
  
  text-align: center;
  width: 100%;
}

.header_table{
    
    width: 100%;
    background-color:grey; 
    border-collapse: collapse;
  }

  .header_table td, .users_table td, .movies_table td{
    
    text-align: center;
    width: 100px;
    
  }
  .menu_part{
    border-right-color: black;
  }

  .site_title{
      font-size:    20px;
  }

  a:active {
      color:darkred;
      text-decoration: none;
  }

  

.description,.users_body, .user_body, .movies_body, .movie_body, .about_body, .new_body{
  position: relative;
  top: 30px;
  overflow:auto;
	padding-bottom: 50px;
}

.home_title, .users_title,.user_title, .movies_title, .movie_title, .about_title, .new_title{
  text-align:  center;
}

.home_image,.user_ava, .movie_poster{
  border: 5px solid #21568b;
  
 
}

.users_table, .movies_table{
  width: 70%;
  
  border-collapse: collapse;
  margin-left:15%; 
  margin-right:15%;
  padding-bottom: 10px;
  
}

.users_table td, th, .movies_table td, th{
  text-align: left;
}

td div, th
{
    height: 30px;
    max-height: 30px;
    max-width: 200px;
    overflow: auto;

   
}

.user_ava, .movie_poster{
  float: left;
  margin-right: 3%;
}

.bio{
  border: 3px solid lightgrey;
  margin-left: 19%;
  margin-bottom: 2%;
  padding-top: 0%;
  padding-left: 0%;
  
}

.movie_info{
  list-style: none;
  height: auto;
  width: 20%;
  overflow-x: auto;
  white-space: nowrap;
  
}

.search,.pagination{
  display: block;
  text-align: center;
}

.pagination input{
  width: 50px;
}





