<template>
    
        <div v-if="me.currentRoom" class="container">
            <h4>Chat room {{me.currentRoom.name}}</h4><br>
 <div v-if="this.me.username === this.me.currentRoom.owner.username" class="row"> 
                <div class="col">
                   <div class="row"> 
                       <form>
                            <div class="form-group">
                            <label for="NewName">Change room name</label>
                            <input v-model="new_name" type="text"  class="form-control" id="NewName" required>
                            </div>  
                            <button type="submit"  class="btn btn-primary" @click="rename($event)">Rename</button><br>
                            <div v-bind:style="is_spin_hidden" class="lds-dual-ring" id="spinner"></div><br>
                            <h6 v-bind:hidden="is_err_hidden" id='err_message'>A room with this name already exists</h6>
                           
                       </form>
                       </div>
                    </div>
                <div class="col">
                   <div class="row"> 
                     <form>  <br>
                       <button  id="Delete" class="btn btn-primary" @click="delete_room($event)">Delete room</button><br>
                        
                           
                           
                       </form></div>
                    </div><br>
            </div>
  <div class="row">
    <div class="col">
      <div class="row"><h5>Messages:</h5><ul class="list-group scrollit" id="scroll"> 
          <Message v-for="message in me.currentRoom.lastMessages" :key="message.id" v-bind:current_username="me.username" v-bind:message="message"></Message>
        
          </ul></div>
          <form>
            <div class="form-group">
                <input v-model="new_message" type="text"  class="form-control" id="NewMessage" placeholder="New message" required>
                <button  id="Leave" class="btn btn-primary" @click="send_message($event)">Send</button>

                </div></form>
      
    </div>
    <div class="col">
      <div class="row">
          <div class="list-group">
  <h5>Users in this room:</h5>
  <h6>You:</h6>
  <li class="list-group-item">{{me.username}}</li>
  <br><h6>Other users:</h6>
  <div v-if="me.currentRoom.members.length === 1">No users yet</div>
  <div v-else >
    <ul class="list-group"> 
      <li class="list-group-item" v-for="member in other_users" :key="member.username">{{member.username}}</li>

    </ul></div>
     <br><form>
     <button  id="Leave" class="btn btn-primary" @click="leave_room($event)">Leave room</button></form>
  
      </div>
      
    </div>
    
  </div>
</div>
</div>


    
</template>

<script>
import Message from '@/components/Message.vue'
import {UPDATE_ROOM ,DELETE_ROOM, LEAVE_ROOM, MEMBER_JOINED, MEMBER_LEFT, MESSAGE_CREATED,CREATE_MESSAGE} from '../constants/graphql.js'
const delay = ms => new Promise(res => setTimeout(res, ms));




export default {
    name: "Chat",
    components:{
        Message

    },
    updated: function () {
        let chat = document.getElementById('scroll');
        
        if(chat)
        {
            chat.scrollTop = chat.scrollHeight - chat.clientHeight;
            
        }
        


    
    },
 
    props: {token:String, me: Object},
    data() {
    return {
            new_name: "",
            is_err_hidden: true,
            is_spin_hidden: "visibility: hidden",
            new_message: ""
            
            
            

        };


  },
  computed: {
    
   
    other_users: function () {
      
      return this.me.currentRoom.members.filter(member => member.username !== this.me.username)
    }

  },
  methods: {
    rename: async function (event) {
        this.is_err_hidden = true;
        if(this.new_name.length !== 0)
        {
            event.preventDefault();
            this.is_spin_hidden = "visibility: visible";
            try{

                
                    await this.$apollo.mutate({
                    mutation: UPDATE_ROOM,
                    variables: 
                    {
                        id: this.me.currentRoom.id,
                        name:this.new_name
                    },
                    context() {
                        return {headers: { Authorization: "Bearer " + this.token}}
                        }                
                    });
                    this.new_name="";
                    
                }
                catch(e)
                {
                    this.is_err_hidden = false;
                   

                }
                this.is_spin_hidden = "visibility: hidden";
                await delay(5000);
                this.is_err_hidden = true;
        }

    },
      delete_room: async function (event) {
            
            this.is_err_hidden = true;
            event.preventDefault();
            this.is_spin_hidden = "visibility: visible";
            try{

                
                    await this.$apollo.mutate({
                    mutation: DELETE_ROOM,
                    variables: 
                    {
                        id: this.me.currentRoom.id,
                       
                    },
                    context() {
                        return {headers: { Authorization: "Bearer " + this.token}}
                        }                
                    });
                    this.new_name = "";
                    
                }
                catch(e)
                {
                    console.log(e);
                   

                }
                this.is_spin_hidden = "visibility: hidden";
                
        

    },
    leave_room: async function (event) {
            
            
            event.preventDefault();
            this.is_spin_hidden = "visibility: visible";
            try{

                
                    await this.$apollo.mutate({
                    mutation: LEAVE_ROOM,
                    variables: 
                    {
                        
                       
                    },
                    context() {
                        return {headers: { Authorization: "Bearer " + this.token}}
                        }                
                    });
                    
                    
                }
                catch(e)
                {
                    console.log(e);
                   

                }
                this.is_spin_hidden = "visibility: hidden";
                
        

    },
    send_message: async function (event) {
        this.is_err_hidden = true;
        if(this.new_message.length !== 0)
        {
            event.preventDefault();
            this.is_spin_hidden = "visibility: visible";
            try{

                
                    await this.$apollo.mutate({
                    mutation: CREATE_MESSAGE,
                    variables: 
                    {
                        text: this.new_message
                    },
                    context() {
                        return {headers: { Authorization: "Bearer " + this.token}}
                        }                
                    });
                    
                }
                catch(e)
                {
                    console.log(e);
                   

                }
                this.is_spin_hidden = "visibility: hidden";
                this.new_message = "";
        }

    }
    
    },
    apollo:
    {
        $subscribe:{
        memberJoined: {
        query: MEMBER_JOINED,
        context() {
            return {headers: { Authorization: "Bearer " + this.token}}
            },
        
        result ({ data }) {
            if(data.memberJoined.username != this.me.username)
            {
                
                this.me.currentRoom.members.push(data.memberJoined);

            }
            
        },
        
     },
      memberLeft: {
        query: MEMBER_LEFT,
        context() {
            return {headers: { Authorization: "Bearer " + this.token}}
            },
        
        result ({ data }) {
            
            if(data.memberLeft.username != this.me.username)
            {
                const deleted_member = data.memberLeft;
         
                for(let i = 0; i < this.me.currentRoom.members.length; i++)
                {
                    if(this.me.currentRoom.members[i].username === deleted_member.username)
                    {
                        this.me.currentRoom.members.splice(i,1);
                        break;
                    }

                }

            }
            
        },
        
     },
      messageCreated: {
        query: MESSAGE_CREATED,
        context() {
            return {headers: { Authorization: "Bearer " + this.token}}
            },
        
        result ({ data }) {
            
            this.me.currentRoom.lastMessages.push(data.messageCreated);
            

            

            
            
        },
        
     },


    }
    }
     

   
  

}
</script>
<style  >
.scrollit { height:450px; overflow-y:scroll}

</style>