<template>
  <div id="list">
     <div class="list-group scrollit">
  <h5>Rooms created by you:</h5>
  <div v-if="my_rooms.length === 0">No rooms yet</div>
  <div v-else>
  <ul class="list-group" v-if="me.currentRoom != null">
    <li class="list-group-item" v-for="my_room in my_rooms" :key="my_room.id">{{my_room.name}}</li>
    </ul>  
    <div v-else>
  <button type="button"  class="list-group-item list-group-item-action" v-for="my_room in my_rooms" :key="my_room.id" @click="send(my_room.id)">{{my_room.name}} </button></div>
  </div><br>
  <h5>Other rooms:</h5>
  <div v-if="other_rooms.length === 0">No rooms yet</div>
  <div v-else>
    <ul class="list-group" v-if="me.currentRoom != null"> 
      <li class="list-group-item" v-for="other_room in other_rooms" :key="other_room.id">{{other_room.name}}</li>

    </ul>
    <div v-else>
  <button type="button" class="list-group-item list-group-item-action" v-for="other_room in other_rooms" :key="other_room.id" @click="send(other_room.id)">{{other_room.name}}</button>
  </div>
  </div>
</div>

      
      
      </div>  
</template>

<script>
import {ROOMS, ROOM_CREATED, ROOM_UPDATED,ROOM_DELETED} from '../constants/graphql.js'

export default
{
    
  

  name: "ChatsList", 
  props: {token:String, me: Object},
   data() {
    return {
            rooms:[]
            
            
            

        };


  },
  computed: {
    
    my_rooms: function () {
      
      return this.rooms.filter(room => room.owner.username === this.me.username)
    },
    other_rooms: function () {
      
      return this.rooms.filter(room => room.owner.username !== this.me.username)
    }

  },
  methods: {
    send:  function (room_id) {
      this.$emit('room_selected', room_id);
    }
  },
    
   apollo: {
  
   rooms: {
     query: ROOMS,
     variables: {},
     context() {
    return {headers: { Authorization: "Bearer " + this.token}}
    }

   },
   $subscribe:
   {
     roomCreated: {
       query: ROOM_CREATED,
       context() {
        return {headers: { Authorization: "Bearer " + this.token}}
        },
       
       result ({ data }) {
         
         this.rooms.push(data.roomCreated);
       },
       
     },
     roomUpdated: {
       query: ROOM_UPDATED,
       context() {
        return {headers: { Authorization: "Bearer " + this.token}}
        },
       
       result ({ data }) {
        
         const updated_room = data.roomUpdated;
         for(let room of this.rooms)
         {
           if(room.id === updated_room.id)
           {
             
             room.name = updated_room.name;
             break;
           }

         }
         
       },
       
     },
     roomDeleted: {
       query: ROOM_DELETED,
       context() {
        return {headers: { Authorization: "Bearer " + this.token}}
        },
       
       result ({ data }) {
         
         const deleted_room = data.roomDeleted;
         
         for(let i = 0; i < this.rooms.length; i++)
         {
           if(this.rooms[i].id === deleted_room.id)
           {
             this.rooms.splice(i,1);
             break;
           }

         }
       },
       
     }


   },
   
 },
 

}
</script>
