<template>
<div>
    <form>
    <label for="name">Username:</label><br>
    <input type="text" id="name" name="name" v-model="username" required><br>
    <label for="pass">Password:</label><br>
    <input type="password" id="pass" name="pass" v-model="password" required><br><br>
    <input type="submit" value="Submit" @click="send($event)"></form><br>
    <div v-bind:style="is_spin_hidden" class="lds-dual-ring" id="spinner"></div>
    <h3 v-bind:hidden="is_err_hidden" id='err_message'>{{err_message}}</h3>
    </div>
</template>

<script>
import {onLogin, onLogout} from '../vue-apollo.js'
import {app} from '../main.js'

export default
{
    
  

  name: "Form", 
   
  props: {err_message:String, REQ: Object},
  data() {
    return {
            username: "",
            password: "",
            is_err_hidden: true,
            is_spin_hidden: "visibility: hidden"
            
            

        };


  },
  
  methods: {
    send: async function (event) {
      await onLogout(app.$apolloProvider.defaultClient);
      this.is_err_hidden = true;
      if((this.username.length !== 0)&&(this.password.length !== 0))
      {

      event.preventDefault();
      this.is_spin_hidden = "visibility: visible";
      let jwt_token;
      try
      {

        
        let result = await this.$apollo.query({
        query: this.REQ.req1,
        variables: {
          username: this.username,
          password: this.password
        },
      });
      if(this.REQ.req2 != undefined) //for register forms
      {
        result = await this.$apollo.query({
        query: this.REQ.req2,
        variables: {
          username: this.username,
          password: this.password
        },
      });

      }
      jwt_token = result.data.login;
      try{
        await onLogin(app.$apolloProvider.defaultClient, jwt_token);

      }
      catch(err)
      {
        console.log(err);
      }
      
      this.$router.push({ name: 'Chats', params: { token: jwt_token} });
      }
      catch(e)
      {
        this.is_err_hidden = false;
      
        
      }
      this.is_spin_hidden = "visibility: hidden";

    }
  }
  }
  
  
}
</script>
<style>
#err_message{
  color: red;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color:#fff transparent black; 
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>