<template>

   <div> <li id ="message" class="list-group-item">{{this.date}}</li><li id ="message" v-bind:class="this.class"><b>{{this.message.author.username}}</b>: {{this.message.text}}</li><br></div>
</template>

<script>

let moment = require('moment');
export default {
    name: "Message",
 
    props: {current_username:String, message:Object},
    computed:
    {
        date: function()
        {
            return moment(this.message.timestamp).format("MMMM Do YYYY, h:mm a");
        },
        class: function()
        {
            if(this.message.author.username === this.current_username)
            {
                return "list-group-item active";
            }
            else
            {
                return "list-group-item"

            }
        }


        
    }
    
}
</script>
<style  scoped>
#message{ text-align:left;

}
</style>