<template>
    <form>
  <div class="form-group">
    <label for="RoomName">Room name</label>
    <input v-model="name" type="text" v-bind:disabled="is_disabled" class="form-control" id="RoomName" required>
  </div>
  
 
  <button type="submit" v-bind:disabled="is_disabled" class="btn btn-primary" @click="createRoom($event)">Create</button><br>
  <div v-bind:style="is_spin_hidden" class="lds-dual-ring" id="spinner"></div>
  <h3 v-bind:hidden="is_err_hidden" id='err_message'>Chat room with this name already exists. Please, pick another</h3>
  
</form>
</template>

<script>
import {CREATE_ROOM} from '../constants/graphql.js'
export default {
    name: "NewRoom", 
    props: {token:String, is_disabled:Boolean},
    data() {
    return {
            name:"",
            is_err_hidden: true,
            is_spin_hidden: "visibility: hidden"

            
            
            

        };


  },
  methods:
  {
      createRoom: async function (event)
        {    
            this.is_err_hidden = true;
             if(this.name.length !== 0)
             {
                event.preventDefault();
                this.is_spin_hidden = "visibility: visible";
                try{

                
                    const result = await this.$apollo.mutate({
                    mutation: CREATE_ROOM,
                    variables: 
                    {
                        name:this.name
                    },
                    context() {
                        return {headers: { Authorization: "Bearer " + this.token}}
                        }                
                    });
                    const room_id = result.data.createRoom.id;
                    this.$emit('room_created', room_id);
                    this.name = "";
                }
                catch(e)
                {
                    this.is_err_hidden = false;

                }
                this.is_spin_hidden = "visibility: hidden";
                


             }
            
             

        }

  }
  
    
}
</script>