<template>
  <div class="home">
    <div v-if="token === undefined" class="not_authorised">
      <h2>It seems that you are not authorised. Please, <router-link to="/">login</router-link> or <router-link to="/register">register</router-link></h2>
    </div>
    
    <div v-else class="container">
      <h1>{{me.username}}'s home page</h1><br>
  <div class="row">
    <div class="col">
      <h4>Available chat rooms</h4><br>
     <ChatsList v-bind:token="token" v-bind:me="me" @room_selected="join_room"></ChatsList>
    </div>
    <div class="col">
      <Chat v-bind:token="token" v-bind:me="me"></Chat><br>
      <h3 v-bind:hidden="is_err_hidden" id='err_message'>Error joining room</h3>
    </div>
    <div class="col">
      <h4>Create new chat room</h4><br>
      <NewRoom v-bind:token="token" v-bind:is_disabled='room_id !==""' @room_created="join_room" ></NewRoom>
    </div>
     
  </div>
</div>
    
  
  </div>
  
</template>

<script>
// @ is an alias to /src
import ChatsList from '@/components/ChatsList.vue'
import NewRoom from '@/components/NewRoom.vue'
import Chat from '@/components/Chat.vue'
import {ME, JOIN_ROOM, ROOM_CHANGED} from '../constants/graphql.js'


export default {
  name: 'Home',
 
  components: {
    ChatsList,
    NewRoom,
    Chat
  },
   data() {
    return {
            token:this.$route.params.token,
            me: {},
            room_id: "",
            is_err_hidden: true
            
            
            
            

        };


  },
  
  methods:
  {
    join_room: async function(room_id)
    {
      const delay = ms => new Promise(res => setTimeout(res, ms));
      try{

      
      this.room_id = room_id;
      await this.$apollo.mutate({
                    mutation: JOIN_ROOM,
                    variables: 
                    {
                        roomId: this.room_id
                    },
                    context() {
                        return {headers: { Authorization: "Bearer " + this.token}}
                        }                
                    });
        
      }
      catch(e)
      {
        this.is_err_hidden = false;
        console.log(e);
        await delay(5000);
        this.is_err_hidden = true;
      }
    }

    

  },
  apollo: {
   me: {
     query: ME,
     variables: {},
     context() {
    return {headers: { Authorization: "Bearer " + this.token}}
    },
    result({ data })
    {
      const me = data.me;
      if(!me.currentRoom)
            {
              this.room_id = "";
            }
            else
            {
              this.room_id = me.currentRoom.id;
              
            }

    }

   },
    $subscribe:
   {
     currentRoomChanged: {
       query: ROOM_CHANGED,
       context() {
        return {headers: { Authorization: "Bearer " + this.token}}
        },
       
       result ({ data }) {
         
         
         if(data.currentRoomChanged.currentRoom)
         {
           this.room_id = data.currentRoomChanged.currentRoom.id;

         }
         else
         {
           this.room_id = "";

         }
         this.me = data.currentRoomChanged;
         
       }
       
     },
  }
}
}
</script>
