<template>
  <div id="login">
    <h1>Log in your account</h1>
    
    
    <LoginForm v-bind:err_message="err_message" v-bind:REQ="REQ"></LoginForm>

    <h3>Don't have an account yet? <router-link to="/register">Create one</router-link></h3>


  </div>
  
</template>

<script>
//window.location.reload();
import LoginForm from '../components/Form.vue'
import { LOGIN} from '../constants/graphql.js'

 
export default {

  data() {
    return {
            REQ: {req1: LOGIN},
            err_message: "Invalid username or password"
            

        };
        


  },
  name: 'Login',
  components: {
    LoginForm
    
  }
}


 


</script>


