<template>
  <div id="register">
    <h1>Register new account</h1>
    
    <RegForm v-bind:err_message="err_message" v-bind:REQ="REQ"></RegForm>
    
    
    <h3>Already have an account?<router-link to="/"> Log in</router-link></h3>


  </div>
  
</template>

<script>
import RegForm from '../components/Form.vue'
import {LOGIN, REGISTER} from '../constants/graphql.js'

 
export default {
  name: 'Register',
  data() {
    return {
            REQ: {req1: REGISTER, req2: LOGIN},
            err_message: "User with this username already exists. Please, pick another"
            

        };
        


  },
  components: {
    RegForm
    
  }
}

</script>

